body, html, .container{
  height: 100%;
}

#root{
  background-color: rgb(210,230,215);
}

#mainMenuButton, #helpButton{
  position: absolute;
  top: 0;
}

#mainMenuButton{
  right: 0;
}

#helpButton{
  left: 0;
}

.cornerMenuContainer{
  position: absolute;
  right: 0;
  top: 0;
}

.verticalCenter {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

textarea{
  height: 500px !important;
}
