body, html, .container, .container-fluid{
  height: 100%;
  width: 100%;
}

h2{
  margin-top: 0;
}

textarea{
  min-height: 60vh !important;
}

.verticalCenter {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

.cardText{
  font-size: 25pt;
}

#root, #buttonBar{
  background-color: rgb(210,230,215);
  padding: 0;
}

#buttonBar{
  z-index: 1000;
}

#helpButton{
  float: left;
}

#mainMenuButton{
  float: right;
}

@media (max-width: 767px){
  .cornerButtonText{
    display: none;
  }
  .cornerButtonIcon{
    display: inline;
  }
}

@media (min-width: 768px){
  .cornerButtonText{
    display: inline;
  }
  .cornerButtonIcon{
    display: none;
  }
}
