body, html, .container{
  height: 100%;
}

#root{
  background-color: rgb(210,230,215);
}

#mainMenuButton{
  position: absolute;
  right: 0;
  top: 0;
}

.verticalCenter {
  min-height: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

textarea{
  height: 500px !important;
}
