#outerContainer{
	width: 700px;
	position: absolute;
	top: 40%;
	left: 50%;
	margin-left: -350px;
}

#container{
  font-size: 2em;
}

#cardsDisplayContainer{
  position: absolute;
  bottom: 10px;
  left: -400px;
  width: 800px;
  margin-left: 50%;
  white-space: nowrap;
  border: 2px solid black;
  height: 126px;
  overflow-x: auto;
}

#saveCards{
	position: absolute;
	width: 130px;
	height: 30px;
	right: 0;
	top: 0;
	
}

#saveCheckbox{
	vertical-align: middle;
	display: inline-block;
	border: 2px solid black;
	height: 15px;
	width: 15px;
	margin-left: 5px;
	background-color:white;
	cursor: pointer;
}

.checkboxChecked{
	background-color: red !important;
}

.quizButton{
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  width: 200px;
  cursor: pointer;
}

.quizButton:hover{
  color: white;
  background-color: black;
}

.cardBoxDisplay{
  text-align: center;
  padding: 4px;
  display: inline-block;
  border: 2px solid black;
  margin: 2px;
}

.cardBoxItem{
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}